@import '../styles/variables.scss';

body {
    font-family: $font-family-basic;
    background-color: $color-gray-light;

    .container {
        max-width: 1200px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: $padding;
        box-sizing: border-box;

        .main-wrapper {
            .main-header {
                font-size: 15px;
                color: $color-gray-dark;
                font-weight: 600;
                margin: 10px 0 25px;
            }
            .main-body {
                width: 100%;
                // padding-bottom: $padding;
                border-radius: $radius;
                overflow: hidden;
                background-color: $color-white;
                box-sizing: border-box;
                position: relative;

                .main-table {
                    table-layout: auto;
                    font-size: 12px;
                    width: 100%;
                    border-spacing: 0;
                }

                td {
                    padding: 0 $padding;
                }

                thead {
                    background-color: $color-gray;
                    color: $color-white;
                    tr {
                        height: 46px;
                    }
                }

                tbody {
                    color: $color-dark;
                    tr {
                        height: 41px;

                        &:hover {
                            background-color: $color-gray-light;
                        }
                    }
                }

                tbody:before,
                tbody:after {
                    content: '';
                    display: block;
                    height: $padding;
                }
            }
        }

        .section-wrapper {
            width: 100%;
            padding: $padding;
            border-radius: $radius;
            background-color: $color-white;
            box-sizing: border-box;
            position: relative;

            .section-header {
                height: 25px;
                position: relative;

                .section-title {
                    color: $color-dark;
                    font-size: $font-size-lg;
                    height: $font-size-lg;
                    font-weight: 600;
                }

                .bottom-border {
                    position: absolute;
                    bottom: 0;
                    left: -15px;
                    right: -15px;
                    background-color: $color-gray-light;
                    height: 1px;
                }
            }

            .section-body {
                .section-table {
                    table-layout: auto;
                    font-size: 12px;
                    width: 100%;
                    border-spacing: 0;
                }

                thead {
                    color: $color-gray;
                    tr {
                        height: 50px;
                    }
                }

                tbody {
                    color: $color-dark;
                    tr {
                        height: 40px;

                        &:hover {
                            background-color: $color-gray-light;
                        }
                    }
                }
            }
        }

        .pagination-wrapper {
            width: 100%;
            height: 50px;

            .rc-pagination {
                float: right;
                margin-right: $padding;

                li:focus {
                    outline: none;
                }
            }

            .showing-range {
                float: right;
                margin-right: $padding;
                font-size: 15px;
                color: $color-gray-dark;
                margin-top: 18px;
            }
        }
    }
}
