@import '../styles/variables.scss';

body {
    font-family: $font-family-basic;
    background-color: $color-gray-light;

    .gradient {
        background: -webkit-linear-gradient(left, $color-purple, $color-purple-light); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, $color-purple, $color-purple-light); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, $color-purple, $color-purple-light); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, $color-purple, $color-purple-light); /* Standard（must be last） */
    }

    .container {
        max-width: 1200px;
        min-height: calc(100vh - 56px - 133px);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: $padding;
        box-sizing: border-box;

        .green {
            color: $color-green;
        }

        .red {
            color: $color-red;
        }

        .gray {
            color: $color-gray;
        }

        .link {
            color: $color-purple;
            text-decoration: none;
        }

        .main-wrapper {
            .main-header {
                font-size: $font-size-lg;
                color: $color-gray-dark;
                font-weight: 600;
                margin: 10px 0 25px;
            }
            .main-body {
                width: 100%;
                // padding-bottom: $padding;
                border-radius: $radius;
                overflow: hidden;
                background-color: $color-white;
                box-sizing: border-box;
                position: relative;
                min-height: 500px;

                .main-table {
                    table-layout: auto;
                    font-size: $font-size-md;
                    width: 100%;
                    border-spacing: 0;
                }

                td {
                    padding: 0 $padding;
                }

                thead {
                    background-color: $color-gray;
                    color: $color-white;
                    tr {
                        height: 46px;
                    }
                }

                tbody {
                    color: $color-dark;
                    tr {
                        height: 41px;

                        &:hover {
                            background-color: $color-light;
                        }
                    }
                }

                tbody:before,
                tbody:after {
                    content: '';
                    display: block;
                    height: $padding;
                }
            }
        }

        .section-wrapper {
            width: 100%;
            padding: $padding;
            border-radius: $radius;
            background-color: $color-white;
            box-sizing: border-box;
            position: relative;

            .section-header {
                height: 39px;
                position: relative;
                margin-top: -15px;
                display: flex;
                align-items: center;

                .section-title {
                    color: $color-dark;
                    font-size: $font-size-lg;
                    height: $font-size-lg;
                    font-weight: 600;
                }

                .filter-wrapper {
                    position: absolute;
                    right: 0;
                }

                .bottom-border {
                    position: absolute;
                    bottom: 0;
                    left: -15px;
                    right: -15px;
                    background-color: $color-gray-light;
                    height: 1px;
                }
            }

            .section-body {
                width: 100%;
                min-height: 280px;
                margin-top: 8px;
                position: relative;

                .section-table {
                    table-layout: auto;
                    font-size: $font-size-md;
                    width: 100%;
                    border-spacing: 0;
                }

                thead {
                    color: $color-gray;
                    tr {
                        height: 40px;
                    }
                }

                tbody {
                    color: $color-dark;
                    tr {
                        height: 40px;

                        &:hover {
                            background-color: $color-light;
                        }
                    }
                }
            }
        }

        .pagination-wrapper {
            width: 100%;
            height: 54px;
            display: flex;
            justify-content: center;
            position: relative;

            .rc-pagination {
                li:focus {
                    outline: none;
                }
                .rc-pagination-item:hover {
                    border-color: #6872e0;
                }
                .rc-pagination-item-active {
                    background-color: #6872e0;
                    border-color: #6872e0;
                }
            }

            .showing-range {
                font-size: $font-size-sm;
                color: $color-gray;
                margin-top: 20px;
                position: absolute;
                right: $padding;
            }
        }
    }

    .recharts-text {
        tspan {
            font-size: $font-size-sm;
        }
    }
    .recharts-legend-item-text {
        color: $color-gray;
        font-size: $font-size-sm;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    body {
        .container {
            padding: $padding-m;

            .main-wrapper {
                .main-header {
                    margin: 10px 0;
                }

                .main-body {
                    min-height: 100px;
                }
            }

            .pagination-wrapper {
                display: flex;
                justify-content: center;
            }
        }

        .showing-range {
            display: none;
        }
    }
}
