@import '../styles/variables.scss';

body {
    font-family: $font-family-basic;
    background-color: $color-gray-light;
}

.Home {
    .container {
        max-width: 1170px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: $padding;
        box-sizing: border-box;

        .chart-and-top-tokens {
            display: flex;
            .chart-wrapper {
                box-sizing: border-box;
                width: 50%;
                padding: $padding;
            }

            .top-tokens-wrapper {
                box-sizing: border-box;
                width: 50%;
                padding: $padding;
            }
        }

        .latest-trades-wrapper {
            padding: $padding;
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .Home {
        .container {
            .chart-and-top-tokens {
                width: 100%;
                display: block;
                .chart-wrapper {
                    width: 100%;
                }

                .top-tokens-wrapper {
                    width: 100%;
                }
            }
        }
    }
}
