@import '../styles/variables.scss';
@import '../styles/global.scss';

.Home {
    .container {
        .chart-and-top-tokens {
            display: flex;
            .chart-wrapper {
                box-sizing: border-box;
                width: 50%;
                padding: $padding;
            }

            .top-tokens-wrapper {
                box-sizing: border-box;
                width: 50%;
                padding: $padding;
            }
        }

        .latest-trades-wrapper {
            padding: $padding;
        }
    }
}

@media screen and (max-width: $max-width-lg) {
    .Home {
        .container {
            .chart-and-top-tokens {
                width: 100%;
                display: block;
                .chart-wrapper {
                    width: 100%;
                }

                .top-tokens-wrapper {
                    width: 100%;
                }
            }
        }
    }
}
