@import '../styles/variables.scss';

.Relayers {
    .container {
        padding: 15px 30px;

        .relayer {
            display: flex;
            align-items: center;
            img {
                height: 30px;
                width: 30px;
                margin-right: $padding;
            }
        }

        .volume {
            text-align: right;
        }

        .trades {
            text-align: right;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Relayers {
        .container {
            padding: 0 10px;
        }
    }
}
