@import '../styles/variables.scss';

.Relayer {
    .container {
        .main-header {
            display: flex;
            align-items: center;
            object {
                max-height: 30px;
                max-width: 30px;
                margin-right: 8px;
            }
        }
        .main-body {
            padding: 30px;
            box-sizing: border-box;
        }
        .item {
            display: flex;
            height: 40px;
            line-height: 40px;
            font-size: $font-size-md;
            align-items: center;

            .item-label {
                color: $color-gray-dark;
                font-weight: 600;
            }
        }

        object {
            height: 20px;
            width: 20px;
            margin-right: $padding;
        }

        .default-img {
            height: 20px;
            width: 20px;
            margin-right: $padding;
            background-color: $color-token-icon;
            border-radius: 10px;
        }

        .top-sections {
            display: flex;

            .info-title {
                color: $color-gray-dark;
                font-size: $font-size-lg;
                padding-bottom: 15px;

                .info-link {
                    float: right;
                    margin-top: -22px;
                }

                .view-more {
                    width: 95px;
                    height: 25px;
                    border-radius: 13px;
                    background-color: $color-gray-light;
                    font-size: $font-size-md;
                    color: $color-secondary;
                    cursor: pointer;
                    text-align: center;
                    line-height: 25px;
                }
            }

            .left-info {
                width: 50%;
                margin-right: $padding;
                padding: $padding 30px;
                min-height: 150px;

                .item {
                    .item-label {
                        width: 30%;
                    }
                    .item-content {
                        width: 70%;
                        text-align: right;
                    }
                    .item-change-wrapper {
                        width: 20%;
                        text-align: right;

                        .change {
                            float: right;

                            height: 21px;
                            line-height: 21px;
                            text-align: center;
                            width: 59px;
                            font-size: $font-size-sm;
                            border-radius: $radius;

                            &.green {
                                color: $color-green;
                                background-color: $color-green-light;
                            }

                            &.red {
                                color: $color-red;
                                background-color: $color-red-light;
                            }

                            &.gray {
                                color: $color-gray;
                                background-color: $color-gray-light;
                            }
                        }
                    }
                }
            }

            .right-info {
                width: 50%;
                margin-left: $padding;
                padding: $padding 30px;
                min-height: 150px;

                .item {
                    .item-label {
                        width: 40%;
                        font-weight: 500;
                    }
                    .item-content {
                        width: 30%;
                        text-align: right;
                    }
                    .item-change-wrapper {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
        }

        .chart-wrapper {
            margin-top: 30px;
        }

        .latest-trades-wrapper {
            margin-top: 30px;
        }
    }
}
