@import '../styles/variables.scss';

.Tokens {
    .container {
        padding: 15px 30px;

        .main-body {
            &.full-page {
                height: 1402px;
            }
        }

        .main-title {
            display: flex;
            align-items: center;

            .main {
                margin-right: $padding;
            }
        }

        .secondary {
            font-size: $font-size-sm;
            color: $color-gray;
        }

        .main-wrapper {
            tbody {
                tr {
                    height: 53px !important;
                }

                .token {
                    display: flex;
                    padding-top: 10px;
                    font-weight: 600;

                    object {
                        height: 30px;
                        width: 30px;
                        margin-right: $padding;
                    }

                    .default-img {
                        height: 30px;
                        width: 30px;
                        margin-right: $padding;
                        background-color: $color-token-icon;
                        border-radius: 15px;
                    }
                }
            }

            .volume {
                text-align: right;
            }

            .change {
                text-align: right;
            }

            .traders {
                text-align: right;
            }

            .price {
                text-align: right;
            }
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .Tokens {
        .token {
            object {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Tokens {
        .rank {
            width: auto;
        }

        .token {
            padding: 10px 0 0 0 !important;
            .main {
                width: auto;
                max-width: 100px;
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .traders,
        .price {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Tokens {
        .container {
            padding: 0 10px;
        }
    }
}
