.Tokens {
    .container {
        padding: 30px;

        .main-wrapper {
            .volume {
                text-align: right;
            }

            .change {
                text-align: right;
            }

            .traders {
                text-align: right;
            }

            .price {
                text-align: right;
            }
        }
    }
}
