@import '../styles/variables.scss';

.Token {
    .container {
        .main-header {
            display: flex;
            align-items: center;
            object {
                max-height: 30px;
                max-width: 30px;
                margin-right: 8px;
            }
        }
        .main-body {
            padding: 30px;
            box-sizing: border-box;
        }
        .item {
            display: flex;
            height: 40px;
            line-height: 40px;
            font-size: $font-size-md;
            align-items: center;

            .item-label {
                color: $color-gray-dark;
                font-weight: 600;
            }
        }

        .top-sections {
            display: flex;

            .left-info {
                width: 50%;
                margin-right: $padding;
                padding: $padding 30px;
                min-height: 150px;

                .item {
                    .item-label {
                        width: 30%;
                    }
                    .item-content {
                        width: 70%;
                        text-align: right;
                    }
                }
            }

            .right-info {
                width: 50%;
                margin-left: $padding;
                padding: $padding 30px;
                min-height: 150px;

                .item {
                    .item-label {
                        width: 30%;
                    }
                    .item-content {
                        width: 50%;
                        text-align: right;
                    }
                    .item-change-wrapper {
                        width: 20%;
                        text-align: right;

                        .change {
                            float: right;

                            height: 21px;
                            line-height: 21px;
                            text-align: center;
                            width: 59px;
                            font-size: $font-size-sm;
                            border-radius: $radius;

                            &.green {
                                color: $color-green;
                                background-color: $color-green-light;
                            }

                            &.red {
                                color: $color-red;
                                background-color: $color-red-light;
                            }

                            &.gray {
                                color: $color-gray;
                                background-color: $color-gray-light;
                            }
                        }
                    }
                }
            }
        }

        .chart-wrapper {
            margin-top: 30px;
        }

        .latest-trades-wrapper {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .Token {
        .container {
            padding: 10px;

            .top-sections {
                display: block;

                .left-info {
                    width: 100%;
                }
                .right-info {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 10px;
                    .item-content {
                        width: 50% !important;
                    }
                    .item-change-wrapper {
                        margin-left: $padding;
                    }
                }
            }

            .chart-wrapper {
                margin-top: 10px;
            }

            .latest-trades-wrapper {
                margin-top: 10px;
            }
        }
    }
}
