@import '../styles/variables.scss';

.Tokens {
    .container {
        padding: 15px 30px;

        .main-wrapper {
            tbody {
                tr {
                    height: 53px !important;
                }

                .token {
                    display: flex;
                    padding-top: 10px;

                    object {
                        height: 30px;
                        width: 30px;
                        margin-right: $padding;
                    }

                    .default-img {
                        height: 30px;
                        width: 30px;
                        margin-right: $padding;
                        background-color: $color-token-icon;
                        border-radius: 15px;
                    }
                }
            }

            .volume {
                text-align: right;
            }

            .change {
                text-align: right;
            }

            .traders {
                text-align: right;
            }

            .price {
                text-align: right;
            }

            .secondary {
                font-weight: lighter;
                font-size: $font-size-md;
                color: $color-gray;
            }
        }
    }
}
