@import '../styles/variables.scss';

.Trade {
    .container {
        .main-body {
            padding: 30px;
            box-sizing: border-box;

            .item {
                display: flex;
                color: $color-gray-dark;
                font-size: $font-size-md;
                height: 40px;

                .item-label {
                    max-width: 200px;
                    width: 20%;
                    font-weight: 600;
                }

                .item-content {
                }
            }
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .Trade {
        .container {
            .main-body {
                .item {
                    .item-label {
                        width: 30%;
                    }

                    .item-content {
                        width: 70%;
                        overflow-x: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
