@import '../styles/variables.scss';

.Trades {
    .container {
        padding: 15px 30px;

        .main-body {
            &.full-page {
                height: 1101px;
            }

            .main-table {
                .pair {
                    .main {
                        font-weight: 600;
                    }
                }
            }
        }

        .download-btn {
            width: 86px;
            height: 28px;
            background-color: #ffffff;
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.1px;
            color: #7a8289;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            position: absolute;
            top: 20px;
        }

        .main-wrapper {
            .trade-price {
                text-align: right;
                font-weight: 600;
            }

            .buy-amount {
                text-align: right;
            }

            .secondary {
                font-size: $font-size-sm;
                color: $color-gray;
            }
        }
    }
}

.download-modal-body {
    width: 100%;
    height: 100%;

    .download-title {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #343a40;
    }

    .download-content {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #343a40;
    }

    .download-wrap {
        text-align: center;
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .download {
            width: 100px;
            height: 26px;
            border-radius: 13px;
            background-color: #f1f3f4;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 26px;
            letter-spacing: -0.1px;
            color: #343a40;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .Trades {
        .buyer,
        .seller {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Trades {
        .trade-price,
        .sell-amount {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Trades {
        .container {
            padding: 0 10px;
        }
    }
}
