@import '../styles/variables.scss';

.Trader {
    .container {
        .main-header {
            display: flex;
            align-items: center;
            img {
                height: 15px;
                width: 15px;
                margin-right: 8px;
            }
            .secondary {
                margin-left: $padding;
                color: $color-gray;
                font-size: $font-size-sm;
            }
        }
        .main-body {
            padding: 30px;
            box-sizing: border-box;
        }
        .item {
            display: flex;
            height: 40px;
            font-size: $font-size-md;
            align-items: center;

            .item-label {
                color: $color-gray-dark;
                font-weight: 600;
            }
        }

        object {
            height: 20px;
            width: 20px;
            margin-right: $padding;
        }

        .default-img {
            height: 20px;
            width: 20px;
            margin-right: $padding;
            background-color: $color-token-icon;
            border-radius: 10px;
        }

        .top-sections {
            display: flex;

            .info-title {
                color: $color-gray-dark;
                font-size: $font-size-lg;
                padding-bottom: 15px;

                .info-link {
                    float: right;
                    margin-top: -22px;
                }

                .view-more {
                    width: 95px;
                    height: 25px;
                    border-radius: 13px;
                    background-color: $color-gray-light;
                    font-size: $font-size-md;
                    color: $color-secondary;
                    cursor: pointer;
                    text-align: center;
                    line-height: 25px;
                }
            }

            .left-info {
                width: 50%;
                margin-right: $padding;
                padding: $padding 30px;
                min-height: 150px;

                .item {
                    .item-label {
                        width: 30%;
                        i {
                            font-size: 15px;
                            cursor: pointer;
                            margin-left: 4px;
                        }
                    }
                    .item-content {
                        width: 70%;
                        text-align: right;
                    }
                    .item-change-wrapper {
                        width: 20%;
                        text-align: right;

                        .change {
                            float: right;

                            height: 21px;
                            line-height: 21px;
                            text-align: center;
                            width: 59px;
                            font-size: $font-size-sm;
                            border-radius: $radius;

                            &.green {
                                color: $color-green;
                                background-color: $color-green-light;
                            }

                            &.red {
                                color: $color-red;
                                background-color: $color-red-light;
                            }

                            &.gray {
                                color: $color-gray;
                                background-color: $color-gray-light;
                            }
                        }
                    }

                    .member-logo {
                        margin-left: 4px;
                        cursor: pointer;
                    }
                }
            }

            .right-info {
                width: 50%;
                margin-left: $padding;
                padding: $padding 30px;
                min-height: 150px;

                .item {
                    .item-label {
                        width: 40%;
                        font-weight: 500;
                    }
                    .item-content {
                        width: 30%;
                        text-align: right;
                    }
                    .item-change-wrapper {
                        width: 20%;
                        text-align: right;
                    }
                }

                .no-recent {
                    font-size: $font-size-md;
                    color: $color-gray;
                }
            }
        }

        .chart-wrapper {
            margin-top: 30px;
        }

        .latest-trades-wrapper {
            margin-top: 30px;
        }
    }
}

.trader-modal-body {
    width: 100%;
    height: 100%;

    .trader-title {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #343a40;
    }

    .trader-content {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #343a40;
        span {
            font-weight: bold;
            font-style: italic;
            padding-right: 4px;
        }
    }

    .list {
        padding: 20px 130px 0;

        .list-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 37px;
            font-size: 12px;
            color: $color-dark;
            border-bottom: 0.2px solid rgba(0, 0, 0, 0.5);

            .discount {
                width: 60px;
                margin-left: 85px;
            }

            .hot-count {
                width: 200px;
                text-align: right;
            }
        }
    }

    .close-wrap {
        text-align: center;
        margin-top: 25px;
        display: flex;
        justify-content: center;

        .close {
            width: 100px;
            height: 26px;
            border-radius: 13px;
            background-color: #f1f3f4;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 26px;
            letter-spacing: -0.1px;
            color: #343a40;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .Trader {
        .container {
            padding: 10px;

            .top-sections {
                display: block;

                .left-info {
                    width: 100%;
                    .item-content {
                        width: 50% !important;
                    }
                    .item-change-wrapper {
                        margin-left: $padding;
                    }
                }
                .right-info {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 10px;
                }
            }

            .chart-wrapper {
                margin-top: 10px;
            }

            .latest-trades-wrapper {
                margin-top: 10px;
            }
        }
    }
}
