@import '../styles/variables.scss';

.Trades {
    .container {
        padding: 15px 30px;

        .main-body {
            &.full-page {
                height: 1101px;
            }
        }

        .main-wrapper {
            .trade-price {
                text-align: right;
                font-weight: 600;
            }

            .buy-amount {
                text-align: right;
            }

            .secondary {
                font-weight: lighter;
                font-size: $font-size-sm;
                color: $color-gray;
            }
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .Trades {
        .buyer,
        .seller {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Trades {
        .trade-price,
        .sell-amount {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Trades {
        .container {
            padding: 0 10px;
        }
    }
}
