@import '../styles/variables.scss';

.FilterTabs {
    background-color: $color-gray-light;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 26px;
    border-radius: 13px;
    font-size: $font-size-md;
    .filter-tab {
        cursor: pointer;
        margin-right: 10px;
        color: $color-gray;
        line-height: 12px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $color-dark;
        }

        &.active {
            color: $color-dark;
        }
    }
}
