@import '../styles/variables.scss';

.Footer {
    width: 100%;
    height: 230px;
    background-color: $color-gray;
    color: $color-light;
    position: relative;

    .container {
        min-height: 0 !important;
    }

    .content-wrapper {
        width: 100%;
        height: 153px;
        font-size: $font-size-md;
        display: flex;
        text-align: center;

        .headline {
            font-weight: 600;
            line-height: 36px;
        }

        .item {
            line-height: 28px;

            a {
                color: $color-footer-font;
                text-decoration: none;
            }
        }

        .col1-wrapper {
            width: 33%;
        }

        .col2-wrapper {
            width: 34%;
        }

        .col3-wrapper {
            width: 33%;
        }
    }

    .bottom-line {
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: $color-gray-mid;
        bottom: 45px;
    }

    .bottom-container {
        padding: 0;
        height: 44px;
        position: absolute;
        width: 100%;
        bottom: 0;

        .container {
            padding: 0 30px 0 0;
            text-align: right;
        }
    }

    .copyright {
        color: $color-light;
        font-size: $font-size-sm;
        line-height: 44px;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Footer {
        height: 430px;

        .content-wrapper {
            display: block;

            .col1-wrapper,
            .col2-wrapper,
            .col3-wrapper {
                width: 100%;
                padding-top: 15px;
            }
        }

        .bottom-container {
            .container {
                text-align: center;
            }
        }
    }
}
