@import '../styles/variables.scss';

.Header {
    width: 100%;
    height: 60px;

    .header-container {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 30px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        position: relative;

        img {
            height: 32px;
        }

        .tabs {
            display: flex;
            margin-left: 60px;
            font-size: 14px;

            .tab {
                color: $color-white;
                margin-right: 30px;
                cursor: pointer;
                text-decoration: none;
                display: flex;
                align-items: center;

                .img {
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    background-size: 16px 16px;
                }

                .relayers-img {
                    background-image: url('../images/relayers.svg');
                }
                .tokens-img {
                    background-image: url('../images/tokens.svg');
                }
                .trades-img {
                    background-image: url('../images/trades.svg');
                }

                &:hover,
                &.active {
                    color: $color-gray-dark;
                    .relayers-img {
                        background-image: url('../images/relayers_dark.svg');
                    }
                    .tokens-img {
                        background-image: url('../images/tokens_dark.svg');
                    }
                    .trades-img {
                        background-image: url('../images/trades_dark.svg');
                    }
                }
            }
        }

        .search-wrapper {
            width: 307px;
            height: 32px;
            position: absolute;
            right: 30px;

            i {
                position: absolute;
                left: 10px;
                top: 6px;
                font-size: 20px;
                -webkit-text-stroke: 2px white;
                color: $color-secondary;
            }

            .search-input {
                height: 100%;
                width: 100%;
                border-radius: 16px;
                outline: none;
                padding: 0 21px 0 38px;
                border-width: 0;
                border: 1px solid $color-white;
                font-size: $font-size-md;

                &:focus {
                    border: 1px solid $color-gray;
                }
            }
        }
    }
}

.Header-sm {
    display: none;
}

@media screen and (max-width: $max-width-lg) {
    .Header {
        display: none;
    }

    .Header-sm {
        display: block;
        width: 100%;
        height: 56px;

        .header-container {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 20px;
            position: relative;
            box-sizing: border-box;

            img {
                height: 25px;
            }

            i {
                position: absolute;
                right: 26px;
                font-size: 25px;
                color: $color-white;
                width: 25px;
                text-align: right;
            }
        }

        .header-menu {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-white;
            z-index: 999;

            .close {
                position: absolute;
                top: 12px;
                right: 20px;
                font-size: 50px;
                -webkit-text-stroke: 9px white;
                color: $color-gray-mid;
            }

            .search-wrapper {
                width: 85%;
                height: 42px;
                position: absolute;
                right: 30px;
                top: 78px;

                .search-icon-wrapper {
                    height: 42px;
                    width: 50px;
                    position: absolute;
                    right: 0;
                    background-color: $color-footer-font;
                    border-top-right-radius: 21px;
                    border-bottom-right-radius: 21px;

                    i {
                        position: absolute;
                        right: 15px;
                        top: 6px;
                        font-size: 28px;
                        -webkit-text-stroke: 2px $color-footer-font;
                        color: $color-secondary;
                    }
                }

                .search-input {
                    height: 100%;
                    width: 100%;
                    border-radius: 21px;
                    outline: none;
                    padding: 0 38px 0 15px;
                    border-width: 0;
                    border: 1px solid $color-gray-light;
                    font-size: $font-size-lg;
                    background-color: $color-gray-light;

                    &:focus {
                        border: 1px solid $color-footer-font;
                    }
                }
            }

            .tabs {
                position: absolute;
                top: 131px;
                height: 121px;
                width: 100%;
                text-align: center;
                border-top: 1px solid $color-gray-light;

                .tab {
                    height: 40px;
                    line-height: 40px;
                    color: $color-dark;
                    font-size: $font-size-lg;
                    text-decoration: none;
                    font-weight: 600;
                    border-bottom: 1px solid $color-gray-light;
                }
            }
        }
    }
}
