@import '../styles/variables.scss';

.Indicators {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    /* hide scrollbar */
    scrollbar-width: none; /* Firefox */
    scrollbar-height: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }

    .indicator-wrapper {
        min-width: 206px;
        width: 25%;
        padding: $padding;
    }

    .indicator-more {
        display: none;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .Indicators {
        .indicator-wrapper {
            padding: $padding-m;
        }

        .indicator-more {
            display: block;
        }
    }
}
