@import '../styles/variables.scss';

.LatestTrades {
    height: 500px;

    .section-body {
        .pair {
            .pair-main {
                font-weight: 600;
            }

            .pair-secondary {
                font-size: 11px;
                color: $color-secondary;
            }
        }

        .trade-price {
            padding-right: 15px;
            text-align: right;

            .trade-price-main {
                font-weight: 600;
            }

            .trade-price-secondary {
                font-size: 11px;
                color: $color-secondary;
            }
        }

        .buy-amount {
            padding-right: 15px;
            text-align: right;
        }

        .sell-amount {
            padding-right: 15px;
            text-align: right;
        }
    }

    .view-more {
        width: 106px;
        height: 38px;
        border-radius: 19px;
        background-color: $color-gray-light;
        font-size: 12px;
        color: $color-secondary;
        position: absolute;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
        text-align: center;
        line-height: 38px;
        vertical-align: middle;
    }
}
