@import '../styles/variables.scss';

.LatestTrades {
    padding-bottom: 60px;

    .section-body {
        &.full-items {
            height: 1040px;
        }
        .secondary {
            font-weight: lighter;
            font-size: $font-size-sm;
            color: $color-gray;
        }

        .pair {
            .pair-main {
                font-weight: 600;
            }
        }

        .trade-price {
            padding-right: 15px;
            text-align: right;

            .trade-price-main {
                font-weight: 600;
            }
        }

        .buy-amount {
            padding-right: 15px;
            text-align: right;
        }

        .sell-amount {
            padding-right: 15px;
            text-align: left;
        }
    }

    .view-more-wrapper {
        width: 100%;
        height: 45px;

        .view-more {
            width: 106px;
            height: 38px;
            border-radius: 19px;
            background-color: $color-gray-light;
            font-size: $font-size-md;
            color: $color-secondary;
            position: absolute;
            right: 15px;
            bottom: 15px;
            cursor: pointer;
            text-align: center;
            line-height: 38px;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: $max-width-md) {
    .LatestTrades {
        .buyer,
        .seller {
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .LatestTrades {
        .trade-price,
        .sell-amount {
            display: none;
        }
    }
}
