@import '../styles/variables.scss';

.TopTokens {
    height: 335px;

    .section-header {
        height: 25px;
        position: relative;
        .section-title {
            color: $color-dark;
            font-size: $font-size-lg;
            height: $font-size-lg;
            font-weight: 600;
        }
        .filter-wrapper {
            position: absolute;
            top: -5px;
            right: 0;
        }
        .bottom-border {
            position: absolute;
            bottom: 0;
            left: -15px;
            right: -15px;
            background-color: $color-gray-light;
            height: 1px;
        }
    }

    .section-body {
        .section-table {
            table-layout: auto;
            font-size: $font-size-md;
            width: 100%;

            .rank {
                width: 40px;
                min-width: 40px;
                max-width: 40px;
            }

            .token {
                width: auto;
                max-width: 100px;
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .volume {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
                text-align: right;
            }

            .change {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
                text-align: right;
            }

            thead {
                color: $color-gray;
                tr {
                    height: 28px !important;
                }
            }

            tbody {
                color: $color-dark;
                tr {
                    height: 23px !important;

                    .rank {
                        color: $color-gray;
                    }
                    .volume {
                        font-family: $font-family-arial-rounded;
                    }

                    .change {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .TopTokens {
        .rank {
            display: none;
        }
    }
}
